@charset "UTF-8";

.logo-t {
    position: relative;
    
}

.fsearch {
    position: absolute;
    right: 0;
    top: calc((100% - 36px)/2);
    width: auto !important;
    border-bottom: 1px solid red;
}

.fsearch input {
    outline: none;
    border: none;

}